[Unit]
Description=Flask web server
[Install]
WantedBy=multi-user.target
[Service]
User=vagrant
PermissionsStartOnly=true
ExecStart=<%= @node['flask_app_configurations']['flask_conf'] %>
TimeoutSec=600
Restart=on-failure
RuntimeDirectoryMode=755